h1{
    color:#44d1c5;
    text-align:center;
}
h2{
    color:#44d1c5;
    text-align:center;
}
h3{
    color:#44d1c5;
    text-align:center;
}
a{
    color:#44d1c5;
    text-align:center;
}
hr{
    width: 5%;
    border: none;
    border-top: 6px dotted #EAF6F6;
}